.CartContainer{
    color:var(--color-text-icon);
    padding:10em;
}

.CartContainer h2{
    text-align: center;
    position: relative;
}

.CartContainer table{
    position: relative;
    top:4em;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 8em;
    font-size: 18px;
    
}


.CartContainer table th{
    color:blue;
    font-size: 18px;
}
.CartContainer table th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

.CartContainer table #QtProduct{
    font-size: 17px;
}
.CartContainer table #QtProduct #moins, #plus{
    position: relative;
    top:5px;
    padding: 3px;
    font-size: 22px;
}
.CartContainer table .TDDetailsProduct{
    width:20%;
    margin:1em;
}

.CartContainer table .DetailsProduct{
    display: flex;
    padding:10px;
}

.CartContainer table .DetailsProduct img{
    height: 130px;
    width:50%;
    margin-right: 5px;
    object-fit: unset;

}


.CartContainer table .DetailsProduct .DescriptionProduct h4{
    margin-top: 5px;
}

.CartContainer table #BtnRemove{
    cursor: pointer;
    position: relative;
    top: 15%;
    right: 0%;
    color: gray;
    text-shadow: 0px 0px 10px;
    font-weight: 600;
}

.CartContainer .FinPartie{
    display: flex;
    justify-content: space-between;;

}

.CartContainer .FinPartie .BtnClear{
    border: 1px solid rgba(168, 166, 166, 0.361);
    box-shadow: 0px 0px 4px;
    color:rgba(168, 166, 166, 0.93);
    height: 2em;
    padding:2em;
    text-align: justify;
    padding-top: 0.5%;
    font-weight: 700;
    cursor: pointer;
}

.CartContainer .FinPartie .piedTable .Price{
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}

.CartContainer .FinPartie .piedTable .Btn_Check_Out{
    color: white;
    background-color:blue;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    border:1px solid rgba(80, 80, 215, 0.576);
    box-shadow: 0px 0px 1px;
    padding-left: 30%;
    font-weight: 600;
    cursor: pointer;

}

.CartContainer .FinPartie .piedTable p{
    color:rgb(128, 128, 128);
}

.CartContainer .FinPartie .piedTable .Btn_Continue{
    font-size: 18px;
    color: rgba(128, 128, 128, 0.913);
    font-weight: 500;
    cursor: pointer;

}

.CartContainer .FinPartie .piedTable .Btn_Continue #BtnRetour{
    position: relative;
    top: 7px;
    cursor: pointer;

}

.cart-empty{
    margin-top: 4em;
    padding-left: 50%;
    color: rgb(114, 116, 117);
}

/* Shopping.css */

.Toastify__toast--success {
    background: #4caf50; /* Couleur de fond */
    color: white; /* Couleur du texte */
  }
  
  .Toastify__toast--error {
    background: #f44336; /* Couleur de fond */
    color: white; /* Couleur du texte */
  }
  
@media (max-width: 1168px) {
    .CartContainer{
        padding:2em;
    }
    .CartContainer table td {
        height:12em;
    }
    .CartContainer table .DetailsProduct .DescriptionProduct{
        font-size: 14px;
    }
    
    .CartContainer table #BtnRemove{
        left:5px;
    }
    
}
@media (max-width: 750px) {
    .CartContainer .FinPartie{
        display: block;
    }

    .CartContainer .piedTable{
        margin-top: 5em;
    }

    .CartContainer .FinPartie .BtnClear{
        margin-left: 30%;
        padding-bottom: 0.7em;
    }
    
}